# Hours variable calculation

In [253]:
import os, sys, json, csv, ast, math, re
import numpy as np
import pandas as pd
from pandas import DataFrame
from ast import literal_eval

In [254]:
bus_train_expand = "bus_train_expand.csv"

In [255]:
dat1 = pd.read_csv(bus_train_expand)
dat1.shape

C:\Users\25982\AppData\Local\conda\conda\envs\stat 628\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (23,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(154606, 57)

In [263]:
dat1[['Monday_open','Monday_close']]=dat1.pop('Monday').str.extract('(.*)-(.*)',  expand=True)
dat1[['Tuesday_open','Tuesday_close']]=dat1.pop('Tuesday').str.extract('(.*)-(.*)',  expand=True)
dat1[['Wednesday_open','Wednesday_close']]=dat1.pop('Wednesday').str.extract('(.*)-(.*)',  expand=True)
dat1[['Thursday_open','Thursday_close']]=dat1.pop('Thursday').str.extract('(.*)-(.*)',  expand=True)
dat1[['Friday_open','Friday_close']]=dat1.pop('Friday').str.extract('(.*)-(.*)',  expand=True)
dat1[['Saturday_open','Saturday_close']]=dat1.pop('Saturday').str.extract('(.*)-(.*)',  expand=True)
dat1[['Sunday_open','Sunday_close']]=dat1.pop('Sunday').str.extract('(.*)-(.*)',  expand=True)

In [270]:
week_day = ["Monday", "Tuesday" ,"Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
for temp_day in week_day:
    time_open = dat1[temp_day+'_open'].replace(np.nan, '', regex=True)
    time_open_datetime = (pd.Series ([datetime.datetime.strptime(item, "%H:%M") if item != '' else None
                                     for item in time_open ]))
    time_close = dat1[temp_day+'_close'].replace(np.nan, '', regex=True)
    time_close_datetime = (pd.Series ([datetime.datetime.strptime(item, "%H:%M") if item != '' else None
                                     for item in time_close ]))
    time_diff_1=(time_close_datetime-time_open_datetime)/np.timedelta64(1, 'h')
    time_diff_1[time_diff_1 < 0]=time_diff_1[time_diff_1 < 0]+24
    time_diff_1[time_diff_1 == 0] = None
    dat1[temp_day+"_hours"] = time_diff_1

In [267]:
dat1[["Monday_open","Monday_close", "Monday_hours"]].head()

  Monday_open Monday_close  Monday_hours
0         NaN          NaN           NaN
1       17:30        21:30           4.0
2         8:0         17:0           9.0
3         7:0         23:0          16.0
4         NaN          NaN           NaN

In [278]:
for temp_day in week_day:
        dat1=dat1.drop(columns=[temp_day+'_open',temp_day+'_close'])

In [279]:
dat1.head()

,business_id,name,city,state,postal_code,latitude,longitude,is_open,attributes,categories,...,GoodForKids,GoodForMeal,WheelchairAccessible,Monday_hours,Tuesday_hours,Wednesday_hours,Thursday_hours,Friday_hours,Saturday_hours,Sunday_hours
0,3157,Arizona Biltmore Golf Club,Phoenix,AZ,85016,33.522143,-112.018481,0,{'GoodForKids': 'False'},"Golf, Active Life",...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23732,Musashi Japanese Restaurant,Charlotte,NC,28210,35.092564,-80.859132,1,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...","Sushi Bars, Restaurants, Japanese",...,True,"{'dessert': False, 'latenight': False, 'lunch'...",NaN,4.0,NaN,4.0,4.0,4.5,4.5,3.5
2,53580,Farmers Insurance - Paul Lorenz,Goodyear,AZ,85338,33.455613,-112.395596,1,NaN,"Insurance, Financial Services",...,NaN,NaN,NaN,9.0,9.0,9.0,9.0,9.0,NaN,NaN
3,27909,Queen City Plumbing,Charlotte,NC,28217,35.190012,-80.887223,1,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...","Plumbing, Shopping, Local Services, Home Servi...",...,NaN,NaN,NaN,16.0,16.0,16.0,16.0,16.0,16.0,16.0
4,95694,Edgeworxx Studio,Calgary,AB,T2Z 1K4,50.943646,-114.001828,1,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Beauty & Spas, Hair Salons",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [281]:
dat1.shape

(154606, 57)

In [282]:
dat1.to_csv('bussiness_train_version3.csv')