# Hours variable calculation

In [16]:
import os, sys, json, csv, ast, math, re
import numpy as np
import pandas as pd
from pandas import DataFrame
from ast import literal_eval
import datetime

In [5]:
os.getcwd()

'D:\\Projects\\Yelp\\Data'

In [11]:
path= "D:\\Projects\\Yelp\\Data"
os.chdir(path)

In [12]:
path_bus_train_expand= path+"\\bus_test_expand.csv"

In [13]:
dat1 = pd.read_csv(path_bus_train_expand)
dat1.shape

C:\Users\25982\AppData\Local\conda\conda\envs\stat 628\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (24,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(38000, 57)

In [14]:
dat1[['Monday_open','Monday_close']]=dat1.pop('Monday').str.extract('(.*)-(.*)',  expand=True)
dat1[['Tuesday_open','Tuesday_close']]=dat1.pop('Tuesday').str.extract('(.*)-(.*)',  expand=True)
dat1[['Wednesday_open','Wednesday_close']]=dat1.pop('Wednesday').str.extract('(.*)-(.*)',  expand=True)
dat1[['Thursday_open','Thursday_close']]=dat1.pop('Thursday').str.extract('(.*)-(.*)',  expand=True)
dat1[['Friday_open','Friday_close']]=dat1.pop('Friday').str.extract('(.*)-(.*)',  expand=True)
dat1[['Saturday_open','Saturday_close']]=dat1.pop('Saturday').str.extract('(.*)-(.*)',  expand=True)
dat1[['Sunday_open','Sunday_close']]=dat1.pop('Sunday').str.extract('(.*)-(.*)',  expand=True)

In [17]:
week_day = ["Monday", "Tuesday" ,"Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
for temp_day in week_day:
    time_open = dat1[temp_day+'_open'].replace(np.nan, '', regex=True)
    time_open_datetime = (pd.Series ([datetime.datetime.strptime(item, "%H:%M") if item != '' else None
                                     for item in time_open ]))
    time_close = dat1[temp_day+'_close'].replace(np.nan, '', regex=True)
    time_close_datetime = (pd.Series ([datetime.datetime.strptime(item, "%H:%M") if item != '' else None
                                     for item in time_close ]))
    time_diff_1=(time_close_datetime-time_open_datetime)/np.timedelta64(1, 'h')
    time_diff_1[time_diff_1 < 0]=time_diff_1[time_diff_1 < 0]+24
    time_diff_1[time_diff_1 == 0] = None
    dat1[temp_day+"_hours"] = time_diff_1

In [18]:
dat1[["Monday_open","Monday_close", "Monday_hours"]].head()

  Monday_open Monday_close  Monday_hours
0         9:0          0:0          15.0
1         9:0         19:0          10.0
2         0:0          0:0           NaN
3        10:0         20:0          10.0
4         8:0         21:0          13.0

In [19]:
for temp_day in week_day:
        dat1=dat1.drop(columns=[temp_day+'_open',temp_day+'_close'])

In [20]:
dat1.head()

,Unnamed: 0,business_id,name,city,state,postal_code,latitude,longitude,is_open,attributes,...,ByAppointmentOnly,WheelchairAccessible,RestaurantsTakeOut,Monday_hours,Tuesday_hours,Wednesday_hours,Thursday_hours,Friday_hours,Saturday_hours,Sunday_hours
0,0,141184,Emerald Chinese Restaurant,Mississauga,ON,L5R 3E7,43.605499,-79.652289,1,"{'RestaurantsReservations': 'True', 'GoodForMe...",...,NaN,NaN,True,15.0,15.0,15.0,15.0,16.0,16.0,15.0
1,1,148476,The UPS Store,Mississauga,ON,L5V 0B1,43.599475,-79.711584,1,"{'BusinessParking': ""{'garage': False, 'street...",...,NaN,NaN,NaN,10.0,11.0,11.0,11.0,10.0,6.0,NaN
2,2,86835,Knot Salon,Scottsdale,AZ,85254,33.600071,-111.977371,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...",...,True,NaN,NaN,NaN,10.0,8.0,10.0,9.0,9.0,NaN
3,3,116708,Maurices,Las Vegas,NV,89149,36.271546,-115.264484,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...",...,NaN,NaN,NaN,10.0,10.0,10.0,10.0,10.0,10.0,7.0
4,4,59216,Bolt Fresh Bar,Toronto,ON,M6J 1J5,43.642889,-79.425429,1,"{'WiFi': ""u'no'"", 'BikeParking': 'True', 'Rest...",...,NaN,NaN,True,13.0,13.0,13.0,13.0,13.0,12.0,12.0

In [21]:
dat1.shape

(38000, 57)

In [22]:
dat1.to_csv('bussiness_test_version3.csv')