In [1]:
import json
import pandas as pd

In [4]:
import os
os.getcwd()

'/Users/ljt/Documents/Madison/STAT628'

In [3]:
os.chdir('../../STAT628')

In [5]:
bus_train = []
for line in open ('business_train.json','r'):
    bus_train.append(json.loads(line))
    
bus_test = []
for line in open ('business_test.json','r'):
    bus_test.append(json.loads(line))

In [7]:
[len(bus_train),len(bus_test)]

[154606, 38000]

In [9]:
bus_train[0]

{'business_id': 3157,
 'name': 'Arizona Biltmore Golf Club',
 'city': 'Phoenix',
 'state': 'AZ',
 'postal_code': '85016',
 'latitude': 33.5221425,
 'longitude': -112.0184807,
 'is_open': 0,
 'attributes': {'GoodForKids': 'False'},
 'categories': 'Golf, Active Life',
 'hours': None}

In [12]:
df_bus_train = pd.DataFrame.from_dict(bus_train)

In [13]:
df_bus_train.shape

(154606, 11)

In [35]:
df_bus_train.head(3)

,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,state
0,{'GoodForKids': 'False'},3157,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,AZ
1,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",23732,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC
2,None,53580,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,AZ

In [28]:
cols = df_bus_train.columns.tolist()

In [32]:
newcols = [cols[1],cols[8],cols[3],cols[10],cols[9],cols[6],cols[7],cols[5],cols[0],cols[2],cols[4]]

In [129]:
df_bus_train_1 = df_bus_train[newcols]
df_bus_train_1.head(3)

,business_id,name,city,state,postal_code,latitude,longitude,is_open,attributes,categories,hours
0,3157,Arizona Biltmore Golf Club,Phoenix,AZ,85016,33.522143,-112.018481,0,{'GoodForKids': 'False'},"Golf, Active Life",None
1,23732,Musashi Japanese Restaurant,Charlotte,NC,28210,35.092564,-80.859132,1,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...","Sushi Bars, Restaurants, Japanese","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."
2,53580,Farmers Insurance - Paul Lorenz,Goodyear,AZ,85338,33.455613,-112.395596,1,None,"Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."

In [38]:
df_bus_train_1.to_csv('bus_train_original.csv')

In [130]:
attributes = df_bus_train['attributes']
hours = df_bus_train['hours']

In [96]:
attributes.head(5)

0                             {'GoodForKids': 'False'}
1    {'GoodForKids': 'True', 'NoiseLevel': 'u'avera...
2                                                 None
3    {'BusinessAcceptsBitcoin': 'False', 'ByAppoint...
4    {'RestaurantsPriceRange2': '2', 'BusinessParki...
Name: attributes, dtype: object

In [131]:
hours.head(4)

0                                                 None
1    {'Monday': '17:30-21:30', 'Wednesday': '17:30-...
2    {'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...
3    {'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...
Name: hours, dtype: object

In [92]:
all_attributes = []
for i in range(len(attributes)): 
    if pd.isna(attributes[i])==False:
        all_attributes = list(set(all_attributes + list(attributes[i].keys())))

In [93]:
len(all_attributes)

39

In [132]:
all_hrs = []
for i in range(len(hours)): 
    if pd.isna(hours[i])==False:
        all_hrs = list(set(all_hrs + list(hours[i].keys())))

In [133]:
all_hrs

['Thursday', 'Sunday', 'Monday', 'Wednesday', 'Friday', 'Saturday', 'Tuesday']

In [97]:
all_attributes[0]

'Ambience'

In [100]:
all_attributes[0] in list(attributes[1].keys())

True

In [110]:
df_bus_train_1['new']='NA'

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [128]:
#for i in range(len(all_attributes)):
for i in range(1):
    df_bus_train_1[all_attributes[i]]='NA'
    for j in range(len(attributes)):
        if pd.isna(attributes[j])==False:
            if all_attributes[i] in list(attributes[j].keys()):
                df_bus_train_1[all_attributes[i]] = attributes[j][all_attributes[i]]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

KeyboardInterrupt:

In [124]:
all_attributes[2]

'RestaurantsAttire'

In [ ]:
attributes.head(10)

In [115]:
all_attributes[0]

'Ambience'

In [114]:
attributes[1]

{'GoodForKids': 'True',
 'NoiseLevel': "u'average'",
 'RestaurantsDelivery': 'False',
 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}",
 'Alcohol': "u'beer_and_wine'",
 'Caters': 'False',
 'WiFi': "u'no'",
 'RestaurantsTakeOut': 'True',
 'BusinessAcceptsCreditCards': 'True',
 'Ambience': "{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}",
 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}",
 'RestaurantsTableService': 'True',
 'RestaurantsGoodForGroups': 'True',
 'OutdoorSeating': 'False',
 'HasTV': 'True',
 'BikeParking': 'True',
 'RestaurantsReservations': 'True',
 'RestaurantsPriceRange2': '2',
 'RestaurantsAttire': "'casual'"}