In [1]:
import numpy as np
from numpy import *
import pandas as pd
import os
os.chdir('../../STAT628')

In [4]:
df_test = pd.read_csv('review_test_results.csv',index_col=0)

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [106]:
df_result = df_test.iloc[:,[0,2]]

In [107]:
df_result.shape

(1321275, 2)

In [109]:
df_ = df_result.drop(df_result.index[575261])

In [98]:
import numpy as np
np.where(df_result.isnull()['KaggleID'] == True)

(array([575261]),)

In [110]:
result = df_.astype(int)

In [111]:
result = result.rename(index=str, columns={"KaggleID": "ID", "expected": "Expected"})

In [114]:
result.to_csv('result.csv', index=False)

In [112]:
result.dtypes

ID          int64
Expected    int64
dtype: object

In [113]:
result

              ID  Expected
0              1         2
1              2         3
2              3         5
3              4         5
4              5         5
5              6         3
6              7         5
7              8         5
8              9         5
9             10         4
10            11         5
11            12         5
12            13         4
13            14         2
14            15         5
15            16         5
16            17         1
17            18         1
18            19         4
19            20         5
20            21         3
21            22         1
22            23         5
23            24         5
24            25         5
25            26         1
26            27         3
27            28         3
28            29         5
29            30         1
...          ...       ...
1321244  1321245         3
1321245  1321246         5
1321246  1321247         5
1321247  1321248         5
1321248  1321249         5
1321249  1321250         1
1321250  1321251         5
1321251  1321252         1
1321252  1321253         5
1321253  1321254         5
1321254  1321255         5
1321255  1321256         5
1321256  1321257         5
1321257  1321258         5
1321258  1321259         5
1321259  1321260         5
1321260  1321261         1
1321261  1321262         5
1321262  1321263         5
1321263  1321264         5
1321264  1321265         5
1321265  1321266         5
1321266  1321267         5
1321267  1321268         5
1321268  1321269         4
1321269  1321270         5
1321270  1321271         5
1321271  1321272         5
1321272  1321273         2
1321273  1321274         5

[1321274 rows x 2 columns]